/* Algemeen */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #6200ea;
    color: white;
    padding: 1rem 2rem;
    text-align: left;
}

header h1 {
    font-size: 2.5rem;
    margin: 1 rem;
}

header p {
    margin: 0.5rem 0 0;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    color: #6200ea;
}

button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #3700b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
